@import '../constants';

.nodes{
  cursor: pointer;
}

.legend circle{
    fill: $secondaryColor;
}

.fill {
    fill: $secondaryColor;
}

.line {
    stroke: $secondaryColor;
}

.candlestick circle{
    fill: $secondaryColor;
    transition: fill 2000ms linear;
}

.candlestick .mean{
  stroke: $primaryColor;
}

.candlestick text{
  font-weight: bold;
  size: 14px;
}

g:hover > text{
  opacity: 1 !important;
  display: block !important;
  margin-top: -16px!important;
  font-size: -16px!important;
}

.label text {
  font-size: 1.5em;
  fill: $secondaryColor;
}