.networkWrapper {
    display:flex;
    padding-top: 10px;
    margin-left: 50px;
    justify-content: flex-start;
}

h3, h4 {
    text-align: center;
}

li {
    text-align: left;
}

img {
    display: block;
}

.clubDetail {
    display: flex;
    flex-wrap: wrap;
    max-width: 35%;
    text-align: left;
    margin-left: 10px;
}

.clubDetail div {
    flex: 1;
    min-width: 312px;
}

.clubDetail img {
    min-height: 200px;
}

.similarities ul li {
    display: inline;
    list-style: none;
    margin-right: 0.5em;
}

.placeholder{
    display: block;
    height: 210px;
    width: 312px;
    background-color: white;
}

.clubName{
    color: white;
    border-radius: 15px;
    padding: 10px;
}

.clubButton{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: -webkit-link;;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
}