.networkWrapper {
    display:flex;
    padding-top: 10px;
    justify-content: flex-start;
}

li {
    text-align: left;
}

img {
    display: block;
}

.clubDetail {
    display: flex;
}

.placeholder{
    display: block;
    height: 210px;
    width: 312px;
    background-color: white;
}