.networkWrapper {
    display:flex;
    padding-top: 10px;
    margin-left: 50px;
    justify-content: flex-start;
}

h3, h4 {
    text-align: center;
}

li {
    text-align: left;
}

img {
    display: block;
}

.clubDetail {
    display: flex;
    flex-wrap: wrap;
    max-width: 35%;
    text-align: left;
}

.clubDetail div {
    flex: 1;
}

.similarities ul li {
    display: inline;
    list-style: none;
    margin: 0.5em;
}

.placeholder{
    display: block;
    height: 210px;
    width: 312px;
    background-color: white;
}