@import './constants.scss';

.step {
    position: relative;
    display: block;
    width: 30%;
    z-index: 99999;
    padding: 5vh 10px 5vh 10px;
    margin: 30vh 0 100vh 50px;
    border: 1px solid $secondaryColor;
    background: $primaryColor;
    border-radius: 15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

// hide footnotes by default
.footnote {
    display: inline-block;
    width: 100%;
    max-height: 1.2em;
    p{
        font-size: smaller;
        display: none;
    }
    p:first-child{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// hide footnotes by default
.show .footnote{
    p {
        text-overflow: unset;
        white-space: pre-wrap;
        display: inline-block;
    }
}

.readMoreButton{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: $quaternaryColor;
    text-decoration: underline;
    cursor: pointer;
    font-size: smaller;
}