@import './constants.scss';

.step {
    position: relative;
    display: block;
    width: 30%;
    z-index: 99999;
    padding: 5vh 10px 5vh 10px;
    margin: 30vh 0 100vh 50px;
    border: 1px solid $secondaryColor;
    background: $primaryColor;
    border-radius: 15px;
}