@import './constants.scss';

.scroller {
    flex-basis: 50%;
}

.step {
    position: relative;
    display: block;
    z-index: 10;
    padding: 5vh 10px 5vh 10px;
    margin: 95vh 0 0 50px;
    border: 1px solid $secondaryColor;
    background: $primaryColor;
    border-radius: 15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.step:first-of-type{
    margin-top: 70vh;
}

.step:last-child {
    margin-bottom: 100vh;
}

details {
    font-size: smaller;
    color: white;
}